<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{title}}</title>
    <script type="text/javascript" src="js/angularJS/angular.js"></script>
    <script type="text/javascript" src="js/controller/index.js"></script>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="css/animate.min.css">
    <link type="text/css" rel="stylesheet" href="css/prettyPhoto.css">
    <link type="text/css" rel="stylesheet" href="css/responsive.css">
    <link type="text/css" rel="stylesheet" href="css/main.css">
    <link type="text/css" rel="stylesheet" href="css/all.css">
    <link type="text/css" rel="stylesheet" href="css/content.css">

    <link rel="shortcut icon" href="images/ico/bojue.png">
</head>
<body class="homepage" ng-controller="cont">
	<header id="header" data-ng-init="load()">
		<nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="images/icos/logo.png" alt="logo"></a>
                </div>
				<div class="col-lg-6">
					<div class="input-group">
						<input type="text" class="form-control search_text" autocomplete="off">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">
								搜索
							</button>
						</span>
					</div>&lt;!&ndash; /input-group &ndash;&gt;
				</div>
				<div class="logreg">
					<a><span class="login">登录</span></a><span>|</span><a><span class="reg">注册</span></a>
				</div>
            </div>&lt;!&ndash;/.container&ndash;&gt;
        </nav>&lt;!&ndash;/nav&ndash;&gt;
	</header>
	<banner>
	    <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">{{title}}</a></li>
                <li><a href="about-us.html">电动餐桌</a></li>
                <li><a href="services.html">手动餐桌</a></li>
                <li><a href="portfolio.html">餐桌配件</a></li>
                <li><a href="blog.html">关于我们</a></li> 
                <li><a href="contact-us.html">联系我们</a></li>                        
            </ul>
        </div>
	</banner>

    <section id="main-slider" class="no-margin">
        <div class="carousel slide" data-ride="carousel" data-interval="2000">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                <div class="item active" style="background-image: url(images/canz/timg01.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2 class="animation animated-item-1">传承华夏文化五千年</h2>
                                    <h2 class="animation animated-item-2">缔造电动餐桌新经典</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>&lt;!&ndash;/.item&ndash;&gt;

                <div class="item" style="background-image: url(images/canz/timg.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-lg-6" style="height: 100px;width: 100px;">
                                <div class="col-content">
                                    <h2 class="animation animated-item-1">尊贵气息</h2>
                                    <h2 class="animation animated-item-2">就在那精雕细琢的萦回中</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>&lt;!&ndash;/.item&ndash;&gt;

                <div class="item" style="background-image: url(images/canz/timg03.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-lg-6" style="height: 100px;width: 100px;">
                                <div class="col-content">
                                    <h2 class="animation animated-item-1">古典风格</h2>
                                    <h2 class="animation animated-item-2">尽在那独具匠心的设计时</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>&lt;!&ndash;/.item&ndash;&gt;
            </div>&lt;!&ndash;/.carousel-inner&ndash;&gt;
        </div>&lt;!&ndash;/.carousel&ndash;&gt;
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section>&lt;!&ndash;/#main-slider&ndash;&gt;-->
    <section>
        <div class="typecon">
            <span class=" type col-md-12">产品类别</span>
            <span class=" type_name col-md-14">豪华电动餐桌</span>
        </div>
        <div class="line">
            <div class="linesan">
                <span></span>
                <div class="weizhi">
                    <p>当前位置：<a>首页</a>&nbsp&gt&nbsp豪华实木电动餐桌</p>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 wow fadeInDown">
                    <div class="tab-wrap">
                        <div class="media">
                            <div class="parrent pull-left">
                                <ul class="nav nav-tabs nav-stacked">
                                    <li ng-class="{active: currentId == 0}"><a ui-sref="/cont({id:0,page:0})">全部餐桌产品</a></li>
                                    <li ng-class="{active: currentId == 1}"><a ui-sref="/cont({id:1,page:0})">豪华实木电动餐桌</a></li>
                                    <li ng-class="{active: currentId == 2}"><a ui-sref="/cont({id:2,page:0})">豪华电动火锅餐桌</a></li>
                                    <li ng-class="{active: currentId == 3}"><a ui-sref="/cont({id:3,page:0})">豪华实木手动餐桌</a></li>
                                    <li ng-class="{active: currentId == 4}"><a ui-sref="/cont({id:4,page:0})">豪华手动火锅餐桌</a></li>
                                </ul>
                            </div>
                            <div class="content" ng-repeat="a in kind">
                                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                                    <div class="feature-wrap">
                                        <a><img class="img-responsive" src="images/canzhuo/{{a.czNo}}.png"/></a>
                                        <div class="bianhao">
                                            <a>{{a.czNo}}# {{a.czName}}</a>
                                        </div>
                                        <div class="jianshu">
                                            <span>{{a.czRes}}</span>
                                        </div>
                                    </div>
                                </div><!--/.col-md-4-->
                            </div>
                            <!--<ul class="pagination">
                                <li><a href="#">上一页</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">下一页</a></li>
                            </ul>-->
                            <!-- 分页控件指令 ，可以是元素 或者 属性 -->
                            <ul uib-pagination total-items="totalItems"
                                items-per-page = "perPage"
                                ng-model="currentPage" ng-change="pageChanged()"
                                previous-text="上一页" next-text="下一页"></ul>
                        </div> <!--/.media-->
                    </div><!--/.tab-wrap-->
                </div><!--/.col-sm-6-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#content-->
<!--
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <img src="images/icos/bjcz.png">
                </div>
                <div class="col-sm-7">
                    <ul class="footbar">
                        <ol class="breadcrumb">
                            <li><a href="#">首页</a></li>
                            <li><a href="#">电动餐桌</a></li>
                            <li><a href="#">手动餐桌</a></li>
                            <li><a href="#">餐桌配件</a></li>
                            <li><a href="#">关于我们</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ol>
                    </ul>
                </div>
                <div class="col-sm-7">
                        <span>Copyright © 2017 宁夏银川伯爵酒店家具有限公司</span> 
                        <span>版权所有</span>
                        <span>宁ICP备16003438号-2</span>
                </div>
                <div class="col-sm-7">
                        <span>商务热线：15595522669（罗）&nbsp&nbsp&nbsp&nbsp18792991998（罗）</span> 
                        <span>QQ：1196369615</span>
                </div>
                <div class="col-sm-7">
                        <span>公司地址：宁夏回族自治区银川市永宁县兴庆区长湖十队</span> 
                </div>
                <div class="col-sm-4">
                    <img src="images/icos/weixin.jpg">
                </div>
            </div>
        </div>
    </footer>&lt;!&ndash;/#footer&ndash;&gt;
	<script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>-->
