.typecon{
    height: 50px;
}
.type{
	  position: absolute;
    margin-left: 105px;
    width: 146px;
    height: 50px;
    border: 1px solid rgba(200,200,200,0.3);
    border-bottom: none;
    text-align: center;
    line-height: 40px;
    padding-top: 5px;
    font-size: 27px;
    font-family: "华文行楷";
    background-image: url(../images/blog/backimg.png);
    color: #fff;
}
.type_name{
    position: absolute;
    height: 50px;
    font-size: 28px;
    width: 230px;
    font-family: "华文行楷";
    line-height: 40px;
    margin-left: 295px;
    padding-top: 2px;
}
.line{
	  height: 3px;
    background-color: #6f0a0a;
    margin-left: 295px;
    margin-right: 120px;
    position: absolute;
    width: 934px;
}
.linesan span {
    position: absolute;
    margin-top: -20px;
    left: 40px;
    border: 10px solid transparent;
    border-bottom-color: #6f0a0a;
    overflow: hidden;
    height: 0px;
    width: 0px;
}
.weizhi{
    position: absolute;
    margin-left: 705px;
    margin-top: -23px;
}
.weizhi p{
  color: #333;
}
.weizhi a{
  color: #999;
}
.weizhi a:hover{
  color: #6f0a0a;
}
.jianshu{
    color: #333;
    text-align: center;
    font-size: 16px;
}
.pagination{
    position: absolute;
    right: 30px;
    top: 509px;
}
.pagination>li{
    margin-right: 5px;
}
.pagination>li>a{
    color: #777;
    background-color: #d3d3d3;
    float: none;
    border: none;
}
.pagination>li:first-child>a,
.pagination>li:last-child>a{
    border-radius: 0 !important;
}
.pagination>li>a:hover{
  background-color: #6f0a0a;
  color: #fff;
}
.pagination>.active>a{
  color: #6f0a0a;
  background-color: #fff;
}
.pagination>.active>a:hover{
  cursor: default;
  background-color: #fff;
  color: #6f0a0a;
}

.container{
	/* height: 800px; */
}
.content{
    padding-left: 175px;
}
.nav-tabs>li{
  margin-bottom: 0px;
  border: 1px solid rgba(200,200,200,0.3);
}

.nav-tabs{
  border: 1px solid rgba(200,200,200,0.3);
  margin-top: 20px;
}

.nav-tabs>li>a {
  background: none;
  color: #999;
  border-radius: 0;
  border: 0 none;
  line-height: 24px;
  margin-right:0;
  padding: 13px 15px;
}

.nav-tabs li:last-child{
  border-bottom: 0 none;
} 

.nav-stacked>li+li{
  margin-top: 0;
}

.nav-tabs>li>a:hover{
  background: #6f0a0a;
  color:#fff;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
  border: 0;
  color:#fff;
  background: #6f0a0a;
  position: relative;
}

.nav-tabs>li.active>a:after {
  position: absolute;
  content:  "";
  width: auto;
  height: auto;
  border-style:solid;
  border-color: transparent transparent transparent #6f0a0a;
  border-width: 25px 22px;
  right: -44px;
  top:0;
}
.media>.pull-left{
  margin-right: 20px;
  height: 555px;
  background-image: url("../images/blog/backimg.png");
  color: #6f0a0a;
}

.media>.pull-right{
  margin-left: 20px;
}

.tab-wrap{
 /*  border:1px solid #e6e6e6; */
  margin-bottom: 20px;
}

.tab-content{
  padding: 20px;
}

.tab-content h2{
  margin-top: 0;
}

.tab-content img{
  border-radius: 4px;
}
/*
.pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:4px}.pagination>li{display:inline}.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.428571429;text-decoration:none;background-color:#fff;border:1px solid #ddd}.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-bottom-left-radius:4px;border-top-left-radius:4px}.pagination>li:last-child>a,.pagination>li:last-child>span{border-top-right-radius:4px;border-bottom-right-radius:4px}.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus{background-color:#eee}.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus{z-index:2;color:#fff;cursor:default;background-color:none;border-color:none}.pagination>.disabled>span,.pagination>.disabled>span:hover,.pagination>.disabled>span:focus,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus{color:#999;cursor:not-allowed;background-color:#fff;border-color:#ddd}.pagination-lg>li>a,.pagination-lg>li>span{padding:10px 16px;font-size:18px}.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{border-bottom-left-radius:6px;border-top-left-radius:6px}.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{border-top-right-radius:6px;border-bottom-right-radius:6px}
.pagination-sm>li>a,.pagination-sm>li>span{padding:5px 10px;font-size:12px}.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{border-bottom-left-radius:3px;border-top-left-radius:3px}.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{border-top-right-radius:3px;border-bottom-right-radius:3px}*/
